# General Project related
.DS_Store
target/
temp/
/deploy/*
/debug/
**/dep-dir.txt
*.prefs
build.properties
/sfdx-source/core/main/default

# MavensMate IDE related
*mm.log
*.sublime-build
*.sublime-project
*.sublime-settings
*.sublime-workspace
.sublime-project
.tm_properties

# Eclipse IDE Related
.project
.settings/
salesforce.schema
Referenced Packages/

# VS Code IDE Related
.vscode/
.history/

# SFDX Related
.sfdx/
sfdx-source/common-base/main/default/
sfdx-source/untracked/
.execanon

# NPM Related
package.json
/node_modules
package-lock.json


sfdx-source/group*
research/