{
    "trailingComma": "none",
    "printWidth": 100,
    "overrides": [
      {
        "files": "**/lwc/**/*.html",
        "options": { "parser": "lwc" }
      },
      {
        "files": "*.{cmp,page,component}",
        "options": { "parser": "html" }
      }
    ]
  }